.Sell-bike-header{
    font-size:  xx-large;
    color: darkslategrey;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    /* font-style: b; */
    
}
.button-input-stype-header
{
    display: flex;
    align-items: center;
}
.img-style-bg{
    /* display: flex; */
    /* position: absolute; */
    width: 1200px;
    height: 800px;
}
.bikesell-header{
    /* position: absolute;  */
}
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    /* justify-items: center;
    justify-content: center; */
    transform: translate(-50%, -50%);
  }
.centered-top {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 20px;
}
.header-images {
    width: 100%;
    /* height: 800px; */
    overflow: hidden;
}
.btn{
    font-weight: 900;
    font-size: xx-large;
}


@media screen and (max-width: 1150px) {
    .centered-top {
       
        top: 36%;
       
    }
    .centered {
        
        top: 52%;
       
    }
    .Sell-bike-header {
        font-size: large;
       
    }
    .btn {
        width: max-content;
        font-size: large;
    }
}



@media screen and (max-width: 880px) {
    .centered-top {      
        top: 27%;       
    }
    .centered {       
        top: 40%;       
    }
    .Sell-bike-header {
        font-size: small;      
    }
    .btn {
        width: max-content;
        font-size: large;
    }
    
}

@media screen and (max-width: 620px) {
    .centered-top {      
       justify-content: center;      
    }
    .centered {       
        justify-content: center;  
        top: 30%; 
    }
    .Sell-bike-header {
        font-size: small;      
    }
    .btn {
        width: max-content;
        font-size: small;
        /* font-weight: 200; */
    }
    .btn-lg, .btn-group-lg > .btn {
        padding: 5px;
        font-size: 1.0rem;
        border-radius: 0.3rem;
    }
}